In [1]:
import pandas as pd

In [2]:
data=pd.read_excel(r"C:\OEE Manufacturing Data.xlsx")
print(data)

                          Machine       StartDateTime         EndDateTime  \
0        Biscuit Filling Machine  2021-07-01 00:23:33 2021-07-01 00:25:26
1        Biscuit Filling Machine  2021-07-01 00:25:26 2021-07-01 00:31:33
2        Biscuit Filling Machine  2021-07-01 00:31:33 2021-07-01 00:40:34
3        Biscuit Filling Machine  2021-07-01 00:40:34 2021-07-01 00:42:57
4        Biscuit Filling Machine  2021-07-01 00:42:57 2021-07-01 00:43:49
...                           ...                 ...                 ...
8039  Biscuit Sprinkling Machine  2021-07-31 23:58:57 2021-07-31 23:59:19
8040  Biscuit Sprinkling Machine  2021-07-31 23:59:19 2021-07-31 23:59:27
8041     Biscuit Filling Machine  2021-07-31 23:59:21 2021-07-31 23:59:21
8042     Biscuit Filling Machine  2021-07-31 23:59:21 2021-08-01 00:01:30
8043  Biscuit Sprinkling Machine  2021-07-31 23:59:27 2021-08-01 00:00:17

      Duration  TotalBiscuitsMade  GoodMadeBiscuits              OEE Category  \
0     1.883333             119795             21061  CC (Changeover Cleaning)
1     6.116667             123671             25185             NO (No Order)
2     9.016666             123541             24851  CC (Changeover Cleaning)
3     2.383333             124798             26282             NO (No Order)
4     0.866667             125036             26272  CC (Changeover Cleaning)
...        ...                ...               ...                       ...
8039  0.366667                390               346  CC (Changeover Cleaning)
8040  0.133333                638                87             NO (No Order)
8041  0.000000              18752                77  CC (Changeover Cleaning)
8042  2.150000              18670                75  CC (Changeover Cleaning)
8043  0.833333                714                30  CC (Changeover Cleaning)

             Product
0       Jammy Creams
1       Jammy Creams
2       Jammy Creams
3       Jammy Creams
4       Jammy Creams
...              ...
8039     Party Rings
8040     Party Rings
8041  Bourbon Creams
8042  Bourbon Creams
8043     Party Rings

[8044 rows x 8 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8044 entries, 0 to 8043
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Machine            8044 non-null   object
 1   StartDateTime      8044 non-null   datetime64[ns]
 2   EndDateTime        8044 non-null   datetime64[ns]
 3   Duration           8044 non-null   float64
 4   TotalBiscuitsMade  8044 non-null   int64
 5   GoodMadeBiscuits   8044 non-null   int64
 6   OEE Category       8044 non-null   object
 7   Product            8044 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(2), object(3)
memory usage: 502.9+ KB

In [5]:
data.head()

,Machine,StartDateTime,EndDateTime,Duration,TotalBiscuitsMade,GoodMadeBiscuits,OEE Category,Product
0,Biscuit Filling Machine,2021-07-01 00:23:33,2021-07-01 00:25:26,1.883333,119795,21061,CC (Changeover Cleaning),Jammy Creams
1,Biscuit Filling Machine,2021-07-01 00:25:26,2021-07-01 00:31:33,6.116667,123671,25185,NO (No Order),Jammy Creams
2,Biscuit Filling Machine,2021-07-01 00:31:33,2021-07-01 00:40:34,9.016666,123541,24851,CC (Changeover Cleaning),Jammy Creams
3,Biscuit Filling Machine,2021-07-01 00:40:34,2021-07-01 00:42:57,2.383333,124798,26282,NO (No Order),Jammy Creams
4,Biscuit Filling Machine,2021-07-01 00:42:57,2021-07-01 00:43:49,0.866667,125036,26272,CC (Changeover Cleaning),Jammy Creams

In [6]:
#null values
null_values = data.isnull().sum()

In [8]:
null_values_column = data['Duration'].isnull().sum()

In [9]:
print("Null values in the entire DataFrame:")
print(null_values)

print("\nNull values in a specific column:")
print(null_values_column)

Null values in the entire DataFrame:
Machine              0
StartDateTime        0
EndDateTime          0
Duration             0
TotalBiscuitsMade    0
GoodMadeBiscuits     0
OEE Category         0
Product              0
dtype: int64

Null values in a specific column:
0

In [12]:
# Assuming 'df' is your DataFrame
# Check for duplicate rows in the entire DataFrame
duplicate_rows = data[data.duplicated()]

In [15]:
duplicate_rows_columns = data[data.duplicated(subset=['Product'])]

In [16]:
print("Duplicate rows in the entire DataFrame:")
print(duplicate_rows)

print("\nDuplicate rows based on specific columns:")
print(duplicate_rows_columns)

Duplicate rows in the entire DataFrame:
Empty DataFrame
Columns: [Machine, StartDateTime, EndDateTime, Duration, TotalBiscuitsMade, GoodMadeBiscuits, OEE Category, Product]
Index: []

Duplicate rows based on specific columns:
                          Machine       StartDateTime         EndDateTime  \
1        Biscuit Filling Machine  2021-07-01 00:25:26 2021-07-01 00:31:33
2        Biscuit Filling Machine  2021-07-01 00:31:33 2021-07-01 00:40:34
3        Biscuit Filling Machine  2021-07-01 00:40:34 2021-07-01 00:42:57
4        Biscuit Filling Machine  2021-07-01 00:42:57 2021-07-01 00:43:49
5        Biscuit Filling Machine  2021-07-01 00:43:49 2021-07-01 00:45:35
...                           ...                 ...                 ...
8039  Biscuit Sprinkling Machine  2021-07-31 23:58:57 2021-07-31 23:59:19
8040  Biscuit Sprinkling Machine  2021-07-31 23:59:19 2021-07-31 23:59:27
8041     Biscuit Filling Machine  2021-07-31 23:59:21 2021-07-31 23:59:21
8042     Biscuit Filling Machine  2021-07-31 23:59:21 2021-08-01 00:01:30
8043  Biscuit Sprinkling Machine  2021-07-31 23:59:27 2021-08-01 00:00:17

      Duration  TotalBiscuitsMade  GoodMadeBiscuits              OEE Category  \
1     6.116667             123671             25185             NO (No Order)
2     9.016666             123541             24851  CC (Changeover Cleaning)
3     2.383333             124798             26282             NO (No Order)
4     0.866667             125036             26272  CC (Changeover Cleaning)
5     1.766667             125796             26788             NO (No Order)
...        ...                ...               ...                       ...
8039  0.366667                390               346  CC (Changeover Cleaning)
8040  0.133333                638                87             NO (No Order)
8041  0.000000              18752                77  CC (Changeover Cleaning)
8042  2.150000              18670                75  CC (Changeover Cleaning)
8043  0.833333                714                30  CC (Changeover Cleaning)

             Product
1       Jammy Creams
2       Jammy Creams
3       Jammy Creams
4       Jammy Creams
5       Jammy Creams
...              ...
8039     Party Rings
8040     Party Rings
8041  Bourbon Creams
8042  Bourbon Creams
8043     Party Rings

[8026 rows x 8 columns]